.profile-pic{
  float: left;
  margin: 0 1em 1em 0;
  border-radius: 50%;
  border: 1px solid #a7a7a7;
  width: 80px;
}

.textblock {
    margin-left: 99px;
}

h3 + h4 {
    margin-top: -1em;
    font-weight: 100;
    margin-bottom: 0;
}

.organizers {
    margin: 4em 0;
}

.nocolorlink{
    color:#F2E5D7;
    text-decoration: underline;
}

.nocolorlink:hover{
    color:#F2E5D7;
    text-decoration: underline;
}

.nocolorlink:visited{
    color:#F2E5D7;
    text-decoration: underline;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }